{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}{_messages.basic.mainpage}{/block} | {$settings->servername}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/alertify.css" />
	<link rel="stylesheet" href="{$basePath}/css/style.css" />
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui.min.css" />
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
<div class="wrap">
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href="Homepage:">{$settings->servername}</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a n:if="$user->isLoggedIn()" n:href="Cart:"><img src="{$basePath}/images/cart_16.png" class="img_cart"> {_messages.basic.cart}</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- Informace o hráči -->
	<div n:if='strtolower($presenter->getName()) != "sign"' class="user-info">
		<table class="table table-bordered">
			<tbody n:snippet="userInfo">
                <tr>
                    <td>{_messages.userinfo.username}</td>
                    <td>{$user->getIdentity()->username}</td>
                </tr>
                <tr>
                    <td>{_messages.userinfo.balance}</td>
                    <td>{$balance} {$settings->currency}</td>
                </tr>
                <tr>
                    <td>{_messages.userinfo.totalCost}</td>
                    <td n:snippet="totalCost">{$totalCost} {$settings->currency}</td>
                </tr>
                <tr>
                    <td>{_messages.userinfo.options}</td>
                    <td><a href="User:default" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-cog"></span> {_messages.userinfo.userpanel}</a> <a class="btn btn-sm btn-primary" n:href="Sign:out"><span class="glyphicon glyphicon-log-out"></span> {_messages.userinfo.logout}</a></td>
                </tr>
			</tbody>
		</table>
	</div>
	<div n:if='strtolower($presenter->getName()) != "sign"' class="user-info-arrow" onClick="userInfoMove()">
		<img src="{$basePath}/images/arrow-down.svg" height="15px">
	</div>
	<!-- /Informace o hráči -->
	<div class="container">

		<!--FLASHES-->
		{snippet flashMessages}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissable fade in">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{$flash->message}
			</div>
		{/snippet}
		<div n:if="!$user->isLoggedIn() && strtolower($presenter->getName()) !== 'sign'" class="alert alert-warning">
			<a n:href="Sign:in">{_messages.basic.loginMsg}</a>
		</div>
		{include #content}
	</div>
</div>
<div n:if="$user->isLoggedIn()" class="panel-footer">
	<div n:if="$user->isInRole('admin') && strtolower($presenter->getName()) !== 'admin'"><a n:href="Admin:">{_messages.basic.administration}</a></div>
	<div><span id="appVersion">Market-reload 0.2</span>. Patička přijde sem, bůhví co sem dám.</div>
</div>
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/alertify.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="{$basePath}/js/main.js"></script>
<script src="{$basePath}/js/jquery-ui.min.js"></script>
<script src="{$basePath}/js/nextras.datagrid.js"></script>
</body>
</html>
