{block #content}
    {*<div n:if="$motd !== null" class='alert alert-success'>{$motd|noescape}</div>*}
    {if count($items) == 0}
        <div class="alert alert-danger">{_messages.itemlist.noitems}</div>
    {else}
        <div style="text-align: center; height: 79px">
            <ul class="pagination">
                <li {if $paginator->first}class="disabled"{/if}><a {if $paginator->first == false}href="?page={$paginator->getPage() - 1}"{/if}>&laquo;</a></li>
                {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a href="?page={$i}">{$i}</a></li>{/for}
                <li {if $paginator->last}class="disabled"{/if}><a {if $paginator->last == false}href="?page={$paginator->getPage() + 1}"{/if}>&raquo;</a></li>
            </ul>

            <div style="float: right; margin: 20px 0 0 -15%; display: inline-table; width: 15%" class="input-group input-group-sm">
                <input type="text" style="height: 34px" class="form-control search-ajax" placeholder="{_messages.itemlist.searchplaceholder}"><span style="height: 34px" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
        {snippet items}
            <div class='row'>
                {if count($items) == 0}
                    <div class="alert alert-danger">{_messages.itemlist.noitems}</div>
                {/if}
                {foreach $items as $item}
                    <div class="col-md-3">
                        <div class="well itemik">
                            <span n:if='$item->discount !== 0' class="label label-info discount">-{$item->discount}%</span>
                            <span class="label label-default price" id='endPrice_{$item->id}'>{if $item->discount !== 0}<s>{$item->price}{$settings->currency}</s> {/if}{$item->price - (($item->discount/100) * $item->price)}{$settings->currency}</span>
                            <img class="item-img" src="{$item->image|wsimg}">
                            <span class="item-name jstooltip">{$item->name}</span>
                            <input type='number' oninput="calculatePrice({$item->price}, $('#itemEa_{$item->id}').val(), {$item->id}, {$settings->currency}, {$item->discount});" value='1' placeholder='{_messages.itemlist.count}' class='form-control ea' id='itemEa_{$item->id}' min='1' max='1000'>
                            <div class="btn-group buy">
                                {if $user->isLoggedIn()}
                                    <a href="?do=addToCart&itemId={$item->id}&itemCount=1" class='btn btn-primary btn-xs ajax cart' id='endPrice_{$item->id}'>
                                        <span class='glyphicon glyphicon-shopping-cart'></span>{_messages.itemlist.buy}
                                    </a>
                                    <a href="?do=fastToServer&itemId={$item->id}&itemCount=1" class='btn btn-primary btn-xs ajax fast jstooltip' title="{_messages.itemlist.fasttoservertitle}" id='endPrice_{$item->id}'>
                                        <span class="glyphicon glyphicon-forward"></span>
                                    </a>
                                {else}
                                    <a class='btn btn-primary btn-xs cart disabled' id='endPrice_{$item->id}'>
                                        <span class='glyphicon glyphicon-shopping-cart'></span>{_messages.itemlist.buy}
                                    </a>
                                    <a class='btn btn-primary btn-xs fast jstooltip disabled' title="{_messages.itemlist.fasttoservertitle}" id='endPrice_{$item->id}'>
                                        <span class="glyphicon glyphicon-forward"></span>
                                    </a>
                                {/if}
                            </div>
                        </div>
                    </div>
                {/foreach}
            </div>
        {/snippet}
        <div style="text-align: center">
            <ul class="pagination" style="margin: 0 0 15px;">
                <li {if $paginator->first}class="disabled"{/if}><a {if $paginator->first == false}href="?page={$paginator->getPage() - 1}"{/if}>&laquo;</a></li>
                {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a href="?page={$i}">{$i}</a></li>{/for}
                <li {if $paginator->last}class="disabled"{/if}><a {if $paginator->last == false}href="?page={$paginator->getPage() + 1}"{/if}>&raquo;</a></li>
            </ul>

        </div>
    {/if}
{/block}
