{block #content}
{snippet cartContent}
    {if count($items) == 0}
        <div class='alert alert-danger'>{_messages.cart.empty}</div>
    {else}
    <table class="table table-hover" style="text-align: center">
        <thead>
        <tr>
            <th>{_messages.carttable.id}</th>
            <th>{_messages.carttable.name}</th>
            <th>{_messages.carttable.count}</th>
            <th>{_messages.carttable.pricePerPiece}</th>
            <th>{_messages.carttable.totalCost}</th>
            <th><a n:href="clearCart!" class="ajax" data-confirm="{_messages.carttable.trashAllItemsDialog}"><span class="glyphicon glyphicon-trash trash"></span></a></th>
        </tr>
        </thead>
        <tbody>
        <tr n:foreach="$items as $item">
            <td><img src="{$item->item->image|wsimg}" width="54" height="54"></td>
            <td><span class="jstooltip" title="{$item->item->name}">{$item->item->name}</span></td>
            <td>{form countForm class => ajax}{input count value => $item->count}{input itemid value => $item->id}{input submit}{/form}</td>
            <td><s n:if='$item->item->discount !== 0'>{$item->item->price}{$settings->currency}</s>  {$item|oneItemPrice:$coupon}{$settings->currency}</td>
            <td><s n:if='$item->item->discount !== 0'>{$item->item->price * $item->count}{$settings->currency}</s>  {$item|itemsPrice:$coupon}{$settings->currency}</td>
            <td><a n:href="removeFromCart! $item->id" class="ajax"><span class='glyphicon glyphicon-remove trash'></span></a></td>
        </tr>
        </tbody>
    </table>
    <div class="well coupon-box">
        <strong>{_messages.cart.coupon}</strong>
        <br>
        {if $coupon == null}
            {form couponForm}
                {input coupon class=>"form-control"}<br>
                {input submit class=>"btn btn-sm btn-info"}
            {/form}
        {else}
            <a n:href="removeCoupon!" class="btn btn-danger btn-sm">{_messages.coupon.dontUseCouponButton}</a>
        {/if}
    </div>
    <div class="well buy-box">
        {if $coupon !== null}
            <span style="font-size: 10px;">{_messages.cart.totalCostNoCoupon} <i>{$priceNoDiscount}{$settings->currency}</i></span><br>
            <span class="discount-text jstooltip" title="{$coupon|discountReason}">-{$coupon|couponDiscount:$priceNoDiscount}{$settings->currency}</span><br>
        {/if}
        <span>{_messages.cart.totalCost} <strong>{$price}{$settings->currency}</strong></span>
        <br>
        <a id="buyBtn" class="btn btn-sm btn-primary" n:href="order!">{_messages.cart.buy}&raquo;</a>
    </div>
    {/if}
{/snippet}