{layout '../@layout.latte'}

{var $view = strtolower($presenter->getView())}
{block #content}
    <h1 n:block="title">{_}messages.administration.{$view}{/_}</h1>

    <ul class="nav nav-tabs">
        <li {if $view == 'default'}class="active"{/if}><a n:href="default"><span class="glyphicon glyphicon-home"></span></a></li>
        <li {if $view == 'basics'}class="active"{/if}><a n:href="basics"><span class="glyphicon glyphicon-cog"></span> {_messages.administration.nav.basicSettings}</a></li>
        <li {if $view == 'users'}class="active"{/if}><a n:href="users"><span class="glyphicon glyphicon-user"></span> {_messages.administration.nav.users}</a></li>
        <li {if $view == 'items'}class="active"{/if}><a n:href="items"><span class="glyphicon glyphicon-th-list"></span> {_messages.administration.nav.items}</a></li>
        <li {if $view == 'carts'}class="active"{/if}><a n:href="carts"><span class="glyphicon glyphicon-shopping-cart"></span> {_messages.administration.nav.carts}</a></li>
        <li {if $view == 'coupons'}class="active"{/if}><a n:href="coupons"><span class="glyphicon glyphicon-credit-card"></span> {_messages.administration.nav.coupons}</a></li>
    </ul>
    &nbsp;
    {include adminContent}
{/block}