{layout '@adminLayout.latte'}

{block #adminContent}
    {var $view = strtolower($presenter->getView())}

    <ul class="nav nav-pills">
        <li {if $view == 'items'}class="active"{/if}><a n:href='items'><span class="glyphicon glyphicon-list"></span> {_messages.administration.items.list}</a></li>
        <li {if $view == 'itemadd'}class="active"{/if}><a n:href='itemadd'><span class="glyphicon glyphicon-plus"></span> {_messages.administration.items.add}</a></li>
    </ul>
    &nbsp;
    {include itemsContent}