{layout '@adminLayout.latte'}
{block #adminContent}

{form basicSettingsForm class=>"col-lg-5"}
    <div class="form-group">
        {label serverName}{/label}
        {input serverName class=>"form-control"}
    </div>
    <div class="form-group">
        {label currency}{/label}
        {input currency class=>"form-control"}
    </div>
    {input submit class=>"btn btn-primary"}
{/form}