{layout '@itemsLayout.latte'}
{block itemsContent}

{form addItemForm class=>'col-lg-5'}
    <div class="form-group">
        {label name}{/label}
        {input name class=>'form-control'}
    </div>
    <div class="form-group">
        {label price}{/label}
        <div class="input-group">
            {input price class=>'form-control'}
            <div class="input-group-addon">{$settings->currency}</div>
        </div>
    </div>
    <div class="form-group">
        {label discount}{/label}
        <div class="input-group">
            {input discount class=>'form-control'}
            <div class="input-group-addon">%</div>
        </div>
    </div>
    <div class="form-group">
        {label newid}{/label}
        {input newid class=>'form-control'}
    </div>
    <div class="form-group">
        {label image}{/label}
        {input image class=>'form-control'}
    </div>
    {input submit class=>'btn btn-primary'}
{/form}