{redefine table-open-tag}
	<table class="table table-bordered table-condensed table-striped">
{/redefine}

{redefine global-filter-actions}
	{input filter class => "btn btn-primary btn-sm"}
	{if $showCancel}
		{input cancel class => "btn btn-default btn-sm"}
	{/if}
{/redefine}

{redefine col-filter}
	{input $column->name class => "input-sm form-control"}
{/redefine}

{redefine row-actions-edit}
	{input save class => "btn btn-primary btn-xs form-inline"}
	{input cancel class => "btn btn-default btn-xs form-inline"}
{/redefine}

{redefine row-actions-edit-link}
	<a href="{link edit! $primary}" data-datagrid-edit class="ajax btn btn-primary btn-xs">{_messages.administration.users.editRole}</a>
{/redefine}

{redefine pagination}
<ul class="pagination">
{if $paginator->isFirst()}
	<li class="disabled"><a>« {_messages.pagination.first}</a></li>
	<li class="disabled"><a>« {_messages.pagination.previous}</a></li>
{else}
	<li><a href="{link paginate!, 'page' => 1}" class="ajax">« {_messages.pagination.first}</a></li>
	<li><a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">« {_messages.pagination.previous}</a></li>
{/if}

<li class="active">
	<a><strong>{$paginator->page}</strong> / {$paginator->pageCount}</a>
</li>

{if $paginator->isLast()}
	<li class="disabled"><a>{_messages.pagination.next} »</a></li>
	<li class="disabled"><a>{_messages.pagination.last} »</a></li>
{else}
	<li><a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">{_messages.pagination.next} »</a></li>
	<li><a href="{link paginate!, 'page' => $paginator->pageCount}" class="ajax">{_messages.pagination.last} »</a></li>
{/if}
</ul>
{/redefine}
{redefine col-lastlogin}
    <td>{$cell|date:'j. n. Y, G:i'}</td>
{/redefine}
{redefine col-role}
    <td>{if $cell=="default"}{_messages.administration.users.user}{elseif $cell=="admin"}{_messages.administration.users.admin}{/if}</td>
{/redefine}