.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#frm-editItemForm > .form-control,
#frm-newItemForm > .form-control,
#frm-editCouponForm > .form-control {
    max-width: 266px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#frm-newCouponForm > .form-control {
    max-width: 266px;
    margin-bottom: 5px;
    display: inline-block;
}

.buy-box {
    float: right;
    margin-top: 20px;
}

.buy-box > a {
    margin-top: 5px;
}

.coupon-box {
    float: left;
    margin-top: 20px;
}

.signin {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 47%;
    margin: -158px 0 0 0;
    min-height: 20px;
    padding: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.signin > .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.signin > .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signin > .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 80px;
}

.signin > .form-signin > .form-control,
.signin > .form-signin {
    position: relative;
    width: 100%;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-info {
    background-color: #f5f5f5;
    width: 100%;
    position: relative;
    top: -180px;
}

.user-info > table > tbody > tr > td {
    width: 50%;
    text-align: center;
}

.user-info-arrow {
    margin: 0 auto;
    border: solid #e7e7e7 1px;
    border-top: none;
    height: 20px;
    width: 30px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding-top: 3px;
    cursor: pointer;
    position: relative;
    top: -200px;
}

.user-info-arrow > img {
    display: block;
    margin: 0 auto;
}

.trash {
    color: grey;
}

.trash:hover {
    color: black;
}

.buy {
    margin-top: 37px;
    float: right;
    margin-right: -2px;

}

.item-name {
    font-weight: bold;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    max-width: 154px;
    height: 20px;
    overflow: hidden;
}

.discount {
    margin-left: -20px;
    margin-top: -19px;
    max-width: 153px;
    overflow: hidden;
    float: left;
}

.price {
    margin-right: -20px;
    margin-top: -19px;
    max-width: 153px;
    overflow: hidden;
    float: right;
}

.itemik input {
    margin-bottom: -25px;
    margin-left: 10px;
    width: 25%;
    text-align: center;
}

.itemik > .form-control {
    display: inline;
    padding: 0;
    height: auto;
    position: relative;
    top: 15px;
}

.img_cart {
    margin-top: -5px;
}

.img_sale {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: -30px;
    margin-right: -30px;
    float: right;
    margin-left: -10px;
}

.item-img {
    margin-top: 5px;
    min-height: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 54px;
    height: 54px;
}

.discount-text {
    color: red;
    font-weight: bold;
}

.panel-footer {
    text-align: center;
}